{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<h1>{{ titulo }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(gados, '#', 'g.id') }}</th>
            <th>{{ knp_pagination_sortable(gados, 'Código', 'g.codigo') }}</th>
            <th>{{ knp_pagination_sortable(gados, 'Leite(por litro)', 'g.leite') }}</th>
            <th>{{ knp_pagination_sortable(gados, 'Ração(por semana)', 'g.racao') }}</th>
            <th>{{ knp_pagination_sortable(gados, 'Peso(Kg)', 'g.peso') }}</th>
            <th>{{ knp_pagination_sortable(gados, 'Nascimento', 'g.nascimento') }}</th>
            <th>Fazenda</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    {% for gado in gados %}
        <tr>
            <td>{{ gado.id }}</td>
            <td>{{ gado.codigo }}</td>
            <td>{{ gado.leite }}</td>
            <td>{{ gado.racao }}</td>
            <td>{{ gado.peso }}</td>
            <td>{{ gado.nascimento|date("d/m/Y") }}</td>
            <td>{{ gado.fazenda.nome }}</td>
            <td>
                <a href="{{ path('abate_listagem', {id: gado.id}) }}" class="btn btn-danger">Abater</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="container-fluid d-flex justify-content-center">
    	{{ knp_pagination_render(gados) }}
	</div>
{% endblock %}