{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<h1>{{ titulo }}</h1>
<a href={{ path('adicionar_fazenda') }} class="btn btn-primary mb-2">Adicionar</a>
<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>Nome</td>
            <td>Tamanho(HA)</td>
            <td>Resposável</td> 
            <td>Veterinários</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
    {% for fazenda in fazendas %}
        <tr>
            <td>{{ fazenda.id }}</td>
            <td>{{ fazenda.nome }}</td>
            <td>{{ fazenda.tamanho }}</td>
            <td>{{ fazenda.responsavel }}</td>
            <td>
            {% for veterinario in fazenda.veterinarios %}
                {{ veterinario.nome }}
                <br>
            {% endfor %}
            </td>
            <td>
                <a href="{{ path('editar_fazenda', {id: fazenda.id}) }}" class="btn btn-primary">Editar</a>
                <a href="{{ path('excluir_fazenda', {id: fazenda.id}) }}" class="btn btn-primary">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}