{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<h1>{{ titulo }}</h1>
<a href={{ path('adicionar_fazenda') }} class="btn btn-primary mb-2">Adicionar</a>
<table class="table">
    <thead>
        <tr>
            <th>{{ knp_pagination_sortable(fazendas, '#', 'f.id') }}</th>
            <th>{{ knp_pagination_sortable(fazendas, 'Nome', 'f.nome') }}</th>
            <th>{{ knp_pagination_sortable(fazendas, 'Tamanho(HA)', 'f.tamanho') }}</th>
            <th>{{ knp_pagination_sortable(fazendas, 'Resposável', 'f.responsavel') }}</th>
            <th>Veterinários</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
    {% for fazenda in fazendas %}
        <tr>
            <td>{{ fazenda.id }}</td>
            <td>{{ fazenda.nome }}</td>
            <td>{{ fazenda.tamanho }}</td>
            <td>{{ fazenda.responsavel }}</td>
            <td>
            {% for veterinario in fazenda.veterinarios %}
                {{ veterinario.nome }}
                <br>
            {% endfor %}
            </td>
            <td>
                <a href="{{ path('editar_fazenda', {id: fazenda.id}) }}" class="btn btn-primary">Editar</a>
                <a href="{{ path('excluir_fazenda', {id: fazenda.id}) }}" class="btn btn-primary">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="container-fluid d-flex justify-content-center">
    	{{ knp_pagination_render(fazendas) }}
	</div>
{% endblock %}