{% extends 'base.html.twig' %}
{% block title %}
	{{ titulo }}
{% endblock %}
{% block body %}
	<h1>{{ titulo }}</h1>
	<a href={{ path('adicionar_veterinario') }} class="btn btn-success mb-2">Adicionar</a>
	<table class="table">
		<thead>
			<tr>
				<th>{{ knp_pagination_sortable(veterinarios, '#', 'v.id') }}</th>
      			<th>{{ knp_pagination_sortable(veterinarios, 'Nome', 'v.nome') }}</th>
				<th>{{ knp_pagination_sortable(veterinarios, 'CRMV', 'v.crmv') }}</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			{% for veterinario in veterinarios %}
				<tr>
					<td>{{ veterinario.id }}</td>
					<td>{{ veterinario.nome }}</td>
					<td>{{ veterinario.crmv }}</td>
					<td>
						<a href="{{ path('editar_veterinario', {id: veterinario.id}) }}" class="btn btn-primary">Editar</a>
						<a href="{{ path('excluir_veterinario', {id: veterinario.id}) }}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="container-fluid d-flex justify-content-center">
    	{{ knp_pagination_render(veterinarios) }}
	</div>
{% endblock %}
